/Java1_b2/build/
/BTVN/JavaApplication24/nbproject/private/
/BTVN/JavaApplication24/build/
/btvn1/nbproject/private/
/btvn1/build/
/java_b3/nbproject/private/
/java_b3/build/
/java1_b5/nbproject/private/
/java1_b5/build/
/java1_b6/nbproject/private/
/java1_b6/build/
/java1_b6/dist/
/java1_btvn2/nbproject/private/
/java1_btvn2/build/
/java1_b7/nbproject/private/
/java1_b7/build/
/java1_b7/dist/
/PH39919_lap14/nbproject/private/
/PH39919_lap14/build/
/PH39919_lap14/dist/
/java1_b9/nbproject/private/
/java1_b9/build/
/java1_b10/nbproject/private/
/java1_b10/build/
/java1_b10/dist/
/java1_b11/nbproject/private/
/java1_b11/build/
